
.homeleft{
    float: left;
    width: 300px;
    height: 300px;
}
.homeright{
    display: inline-block;
    white-space: normal;
    text-overflow: ellipsis;
    margin: 10px;
}

.navbar{
    width: 100%;
    list-style-type: none;
    display: flex;
    position: fixed;
    background-color: rgb(243, 243, 243);
    margin-right: auto;
    margin: 0;
    padding: 5px;
}


.navitem{
    padding: 5px;
    text-align: center;
    
   
}
.maintitle{
    font-size: x-large;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-right: 50px;
}
.subitem{
    text-align: right;
    right: 5px;
    cursor: pointer;
}
.subitem:hover{
    text-align: right;
    right: 5px;
    cursor: pointer;
    background-color: rgb(187, 181, 181);
}


a { 
    color: black; 
    text-decoration: none;
    text-align: centers;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;;
}
body{
    padding-top: 50px;
}

.exercise{
    background-color: rgb(228, 228, 228);
    border: black solid 3px;
}

.bucketlist{
    background-color: rgb(228, 228, 228);
    border: black solid 3px;
}

@media screen and (max-width:780px){
    .homeleft{
        width: 100%;
        height: auto;
        float: initial;
    }
}
@media screen and (max-width:400px){
    .maintitle{
        font-size: x-large;
        font-weight: bold;
        float: left;
        margin-left: 10px;
    }

    .navbar{
        width: 100%;
        list-style-type: none;
        display: inline-block;
        position: fixed;
        margin-right: auto;
        margin: 0;
        padding: 5px;
    }

    body{
        padding-top: 160px;
    }
    
}
@media screen and (max-width:470px){
    body{
        padding-top: 100px;
    }
}
@media screen and (max-width:300px){
    body{
        padding-top: 200px;
    }
}